<div class="container">
	<div class="jumbotron">
	    <h1>Tweets for Everyone</h1>
	    <p class="lead">This is our first basic rails application built with Ruby on Rails and Twitter Bootstrap</p>
	    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign Up with Email</a></p>
	  </div>
</div>